/* Soft Reset */
*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}    

/* Paleta de cores testadas
Laranja   #CC5602
Azul      #009EB2
Preto     #181D1F
Cinza     #D1D1C2
Vermelho  #D6312B

Fundo Azul C.:  #023e8a
Fundo Azul E.:  #022a5f
Fonte texto1:   #FFFFFF
Fonte texto2:   #8c8c8c
Verde "neon":   #00FF99
Verde escuro:   #14A76C
*/
:root {
    --bg-contrast: #0bf396;
    --bg-main: #023e8a;
    --bg-main1: #022a5f;
    --bg-menu: #181D1F;
    --bg-dark: #000;
    --text-contrast: #14A76C;
    --text-main: #EEE;
    --text-main1: #8c8c8c;
    --error:  #D6312B;
    --warning: #CC5602;
}

/*  *********************** Fontes *********************** */
section span {
    font: 700 'Cardo';
    font-size: 2rem;
}

section div h1 {
    font: 700 'Cardo';
    font-size: 2.5rem;
    padding: 0 0 0.7em 0;
    color: var(--bg-contrast);
}

section p {
    font: 1.5rem Belgrano;
    text-align: justify;
    text-indent: 2em;
}

header {
    font: 700 1.3rem Cardo;
}


/* *********************** Cofigurações Básicas ***********************  */
.header {
    height: 50px;
    list-style: none;
    padding-top: 7px;
    width: 100%;

    background-color: var(--bg-menu);
    color: var(--text-main);
    z-index: 2;
}

.header .content {
    margin: 0 auto;
    text-align: center;
    width: 85%;
}

.header ul {
    list-style: none;
}

.header ul a {
    text-decoration: none;
}

.nav .current {
    color: var(--bg-contrast);
}

.header .content .nav {
    background-color: var(--bg-menu);
    border-left: 2px solid var(--bg-contrast);
}

body {
    background-color: var(--bg-menu);
    margin: 0 auto;
    text-align: center;
    color: var(--text-main);
}

.blink::after {
    content: '|';
    opacity: 1;
    animation: blinker 2s infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

button {
    border: 0;
    border-radius: 10px;
    height: 60px;
    line-height: 0px;
    padding: 0 20px;
    
    text-align: center;
    font-weight: 700;
    
    color: var(--text-main);
    background: var(--text-contrast);
    transition: filter 0.2s;
}
button:hover {
    filter: brightness(80%);
    cursor: pointer;
}

a {
    color: inherit;
}

section div p {   /*  Ajustar região do conteudo */
    margin: 0 auto;
    width: 90%;
}

section .section_a,
section .section_b {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;

    padding: 20px 0; 
}

section .section_a {
    background-color: var(--bg-main);
}

section .section_b {
    background-color: var(--bg-main1);
}


body footer {
    background: var(--bg-menu);
    padding: 2em;
}
/* color of the tracking area */
::-webkit-scrollbar-thumb {
    background-color: var(--bg-menu);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-menu);
}
body::-webkit-scrollbar-track {
    background-color: var(--bg-menu);        
}


/* *********************** Mobile first *********************** */
.header {
    position: fixed;
    top: 0;
}

.section_a:first-child {
    margin-top: 50px;
}

.logo {
    float: left;
}
.nav-toggle {
    float: right;
}
.nav-close {
    float: right;
}

.content {
    width: 87%;
}

/* Menu Lateral */
.header .content .nav {     
    box-sizing: border-box;
    color: inherit;
    height: 100%;
    padding: 5px;
    position: fixed;
    right: -100%;
    text-decoration: none;
    text-align: left;
    top: 0;
    width: 250px;
    z-index: 1;
}

.header a {
    color: var(--text-main);
}

.header .nav ul li {
    border-bottom: 1px solid var(--text-contrast);
    font-size: 20px;
    padding: 0.7em 0 0.7em 0.3em;
}

.header .social {
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
    right: -100%;
    width: 250px;
    z-index: 1;
}

/*  Menu das Redes Sociais  */
.header .social ul li {
    display: inline;
}

.header .social ul img {
    padding: 0;
    width: 2.3em;
}

.nav-close {
    padding-top: 8px;
    padding-right: 30px;
}

/*  Ajuste de Conteúdo  */
.inicio img {
    max-width: 150px;
    height: auto;
}


/* *********************** Tablet *********************** */
@media (min-width: 530px) {
    /*  Ocultar incones de navegação no Smartphone  */
    .logo, 
    .nav-toggle, 
    .nav-close {
        display: none;
    }

    .header .content {
        width: 95%;
    }
    section div p {
        margin: 0 auto;
        width: 95%;
    }
    
    /* Resetar principais parametros do Menu */
    .header {
        position: relative;
        height: 44px;
        padding: 9px 0 0 0;
    }
    .section_a:first-child {
        margin-top: 0;
    }

    .header .content {
        display: grid;
        grid-template-columns: 0% 70% 30% ;
        position: relative;
    }
    
    /* Conveter Menu Lateral em Superior */
    .header .nav {
        display: contents;
    }
    /* Remover bordas do menu para Smartphone */
    .header .nav ul li {
        display: inline;
        border-bottom: none;
        padding: 0;
    }
    .nav ul li a {
        padding: 6px 6px 0px;
        animation: .5s;
        transition-duration: 0.2s;
    }

    /*  Animação ao passar o mouse  por cima    */
    .header .nav ul li a:hover {
        border-bottom: 7px solid var(--text-contrast);
    }
    
    /*  Menu das Redes Sociais  */
    .header .social {
        display: contents;
        text-align: right;
    }
    
    .header .social ul li {
        display: inline;
    }
    
    .header .social ul img {
        padding: 0 ;
        width: auto;
    }
    .header .social ul li li {
        display: none;
    }
    
    /*  Ajuste de Conteúdo  */
    .inicio img {
        max-width: 200px;
    }
    
    section span {
        font-size: 2rem;
    }
    
    section p {
        font-size: x-large;
    }

    .portifolio {
        grid-template-columns: 50% 50%;
    }
    .portifolio img {
        width: 250px;
        height: auto;
    }
    
}

/* *********************** PC *********************** */
@media (min-width: 780px) {
    
    /*  Faixa do menu   */
    .header {
        height: 50px;
        padding: 10px 0 5px 0;
    }

    .header .nav a {
        margin: 0 auto;
    }

    .header .nav ul  li {
        margin-right: -5px;
        margin-left: -1px;
    }

    .header .content {
        max-width: 960px;
        width: 95%;
    }

    .header .current {
        border-bottom: 7px solid var(--text-contrast);
    }
    
    section div p{
        max-width: 960px; /* Para fixar o máximo que pode aumentar */
        width: 98%;
    }
    
    .header .social img {
        height: 30px;
        width: auto;
    }
    
    .header .content a {
        font-size: 1.5rem;
    }
    section p {
        font-size: 1.5rem;
    }
    
    .inicio img {
        max-width: 300px;
    }
    
    section span {
        font-size: 3rem;
    }

    .portifolio {
        margin: 0 auto;
        max-width: 960px;
        width: 95%;
        grid-template-columns: 33% 33% 33%;
    }
    .portifolio img {
        max-width: 300px;
    }
    
}