section > div {
  min-height: 45vh;
}

.container-list {
  margin: 0 auto;
  width: 80%;
  max-width: 1400px;
}

.projects {
  margin: 0 auto 20px;
  max-width: 960px;
  padding-left: 30px;
  width: 95%;
  color: var(--bg-contrast);
  font: 1.3em Belgrano;
}

.projects li {
  text-align: left;
}

.list a {
  color: var(--text-main);
  font: 0.8em Belgrano;
}